body {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  background-color: #f3f3f3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 15px #dedede, 10px 0 25px #dedede;
  background-color: #ffffff;
}

.main-section {
  display: block;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Шапка сайта*/

.main-header {
  position: relative;
}

.index-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
  width: 138px;
  height: 70px;
}

.main-header .main-navigation {
  margin: 0 72px;
}

.main-header .site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  list-style-type: none;
  padding-top: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 16px;
  width: 240px;
  box-sizing: border-box;
}

.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  padding-left: 0;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-right: 25px;
  margin-right: auto;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  padding-right: 0;
  text-align: right;
}

.site-navigation li:nth-child(3) {
  padding-left: 25px;
  margin-left: auto;
}

.site-navigation a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

/* Баннер на главной */

.index-banner {
  position: relative;
  margin-bottom: 60px;
}

.index-banner .banner-wrapper {
  background: #3f5f73 url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 21%;
  width: 100%;
  height: 508px;
}

.index-banner img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding: 76px;
}

.index-banner .banner-mask {
  width: 100%;
  height: 57px;
  background: url("../img/mask-max.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

/* Заголовок */

.features {
  text-align: center;
  margin-bottom: 50px;
}

.features h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.features p {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}

/* Причины */

.feature-list, .feature-list .illustrated {
  display: flex;
  flex-wrap: wrap;
}

.sub-feature-list {
  display: flex;
}

.feature-list, .sub-feature-list, .feature-list li, .sub-feature-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.illustrated {
  display: flex;
  background-color: #81b3d2;
}

.illustrated:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.feature-item {
  text-align: center;
}

.sub-feature {
  background-color: #ffffff;
  width: 400px;
}

.feature-list>li:nth-last-child(-n+3) {
  background-color: #eeeeee;
  width: 400px;
  min-height: 256px;
}

.feature-item-title {
  width: 400px;
  min-height: 256px;
}

/*Стилизация текста в причинах*/

.feature-item h3, .feature-item-title h3 {
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0 124px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-item span {
  display: block;
  margin-bottom: 21px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.feature-item span::before, .feature-item span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 1px;
  background-color: #333333;
  position: relative;
}

.title-illustrated span::before, .title-illustrated span::after {
  background-color: #ffffff;
}

.feature-item span::before {
  margin-left: -100%;
  left: -6px;
}

.feature-item span::after {
  margin-right: -100%;
  right: -6px;
}

.feature-item p, .feature-item-title p {
  padding: 0 49px;
  line-height: 21px;
}

li:nth-last-child(-n+3).feature-item-title p {
  padding: 0 69px;
}

.title-illustrated h3, .title-illustrated span, .title-illustrated p {
  color: #ffffff;
}

/*Стилизация вложенного списка*/

.sub-feature-list .feature-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 161px;
}

.sub-feature h4 {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
}

.sub-feature p {
  margin: 0;
  margin-bottom: 82px;
  padding: 0 55px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #ffffff;
  color: #333333;
}

.sub-feature-list .feature-housing::before, .sub-feature-list .feature-food::before, .sub-feature-list .feature-souvenirs::before {
  content: "";
  position: absolute;
  bottom: 197px;
  left: 50%;
}

.sub-feature-list .feature-housing::before {
  background: url("../img/icon-1.svg")no-repeat center;
  width: 77px;
  height: 75px;
  margin-left: -39px;
}

.sub-feature-list .feature-food::before {
  background: url("../img/icon-2.svg")no-repeat center;
  width: 64px;
  height: 75px;
  margin-left: -34px;
}

.sub-feature-list .feature-souvenirs::before {
  background: url("../img/icon-3.svg")no-repeat center;
  width: 64px;
  height: 76px;
  margin-left: -32px;
}

/*Стилизация заголовка и подписи к форме*/

.search-hotels {
  text-align: center;
  width: 568px;
  margin: 0 auto;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.search-hotels p {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 47px;
}

/*Стилизация формы - кнопка открытия/закрытия формы*/

.button-search {
  display: block;
  width: inherit;
  min-height: 86px;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: #766357;
  border: none;
}

.button-search:hover, .button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;
  background-color: #604e43;
}

/*Стилизация формы*/

.search-hotels-form {
  position: absolute;
  z-index: 30;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: inherit;
  box-sizing: border-box;
  min-height: 395px;
  padding: 55px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
}

.frame-content {
  margin: 0;
  padding: 0;
  border: none;
}

.search-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 29px;
}

.item-date {
  width: 100%;
  position: relative;
}

.item-number {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 50%;
}

.item-number:nth-child(2n-1) {
  padding-right: 3px;
}

.item-number:nth-child(2n) {
  justify-content: flex-end;
}

.item-number:nth-child(2n) label {
  margin-right: 27px;
}

.about-number {
  display: flex;
  flex-wrap: wrap
}

.search-item label, .item-number label {
  display: inline-block;
  padding: 6px 0;
}

.search-item input, .about-number input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.item-date input {
  width: 346px;
  padding: 6px;
  padding-left: 13px;
  padding-right: 40px;
}

.item-date input:hover {
  background-color: #ebebeb;
}

.item-date input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.item-date .calendar {
  border: 0;
  outline: none;
  background: none;
  position: absolute;
  top: 7px;
  right: 3px;
  cursor: pointer;
}

.calendar path {
  fill: rgba(0, 0, 0, 0.3);
}

.calendar:hover path {
  fill: rgba(0, 0, 0, 1);
}

.calendar:active path {
  fill: #81b3d2;
}

.about-number input {
  width: 38px;
  padding: 6px 5px;
  text-align: center;
}

.about-number input:hover {
  background-color: #ebebeb;
}

.about-number input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.minus-button, .plus-button {
  width: 38px;
  height: 38px;
  position: relative;
  font-size: 0;
  border: 0;
  background-color: #f2f2f2;
  outline: none;
}

.minus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  left: 50%;
  top: 50%;
  margin-left: -4px;
}

.plus-button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  left: 50%;
  top: 50%;
  margin-left: -4px;
}

.plus-button::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
  left: 50%;
  top: 50%;
  margin-top: -4px;
}

.minus-button:hover::before, .plus-button:hover::before, .plus-button:hover::after {
  background-color: #000000;
}

.minus-button:active::before, .plus-button:active::before, .plus-button:active::after {
  background-color: #81b3d2;
}

.search-hotels-form .button-search {
  display: block;
  width: 100%;
  min-height: 58px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 10px 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.search-hotels-form .button-search:hover, .search-hotels-form .button-search:focus {
  background-color: #669ec0;
}

.search-hotels-form .button-search:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* Карта */

.section-map {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

/*Футер*/

.index-footer {
  position: absolute;
  bottom: 0;
  z-index: 50;
  opacity: 0.9;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #000000;
  background-color: #ffffff;
}

.footer-hashtag, .footer-social, .footer-copyright {
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  box-sizing: border-box;
}

.main-footer .footer-hashtag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  padding-left: 114px;
  margin: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path, .social-button:focus path {
  fill: #88b6d1;
}

.footer-copyright {
  margin: 0;
}

.footer-copyright a {
  display: flex;
  padding-left: 93px;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.footer-copyright:hover path, .footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #000000;
  opacity: 0.3;
}

.copyright-button .website-by {
  font-size: 14px;
  line-height: 26px;
  padding-right: 8px;
  color: #000000;
}

/*Страница поиска отеля*/

.site-navigation .active {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #766357;
}

/*Раздел фильтров*/

.filters {
  background: url("../img/catalog-background.jpg") no-repeat;
  background-position: 50% 15%;
  color: #ffffff;
}

.filters .filters-form {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 27px;
  padding-bottom: 32px;
}

.filters-form .infrastructure, .filters-form .type-of-hotel, .filters-form .price {
  display: flex;
  flex-direction: column;
}

.filters-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.filters-form .infrastructure {
  margin-right: 119px;
}

.filters-form .price {
  margin-left: auto;
}

.filters-form fieldset>legend {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.infrastructure label, .type-of-hotel label {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
}

.infrastructure label:last-child, .type-of-hotel label:last-child {
  margin-bottom: 0;
}

.infrastructure label::before, .type-of-hotel label::before {
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat center;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
}

.infrastructure input[type="checkbox"], .type-of-hotel input[type="checkbox"] {
  display: none;
}

.infrastructure input[type="checkbox"]:checked+label::before, .type-of-hotel input[type="checkbox"]:checked+label::before {
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat center;
  width: 27px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
}

.price {
  width: 328px;
}

.price .price-per-day {
  width: 318px;
  padding-left: 10px;
}

.price .price-per-day legend {
  margin-bottom: 10px;
  padding-left: 2px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 158px;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  padding: 5px 0;
  cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*Параметры сортировки*/

.result-of-sorting {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  padding: 30px 0;
  padding-bottom: 25px;
}

.result-of-sorting .number-of-found {
  margin: 0;
  padding: 0;
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-by-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sorting-by span {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}

.sorting-by-list a {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-list .selected-type {
  border: none;
  color: #81b3d2;
}

.sorting-by-list a:hover, .sorting-by-list a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-buttons {
  margin-left: auto;
  padding-top: 5px;
}

.sorting-buttons .sorting-up, .sorting-buttons .sorting-down {
  font-size: 0;
  display: inline-block;
  margin-left: 9px;
}

.sorting-up:hover path, .sorting-down:hover path, .sorting-up:focus path, .sorting-down:focus path {
  fill: #231f20;
}

.sorting-up:active path, .sorting-down:active path {
  fill: #81b3d2;
}

.selected-sorting path {
  fill: #81b3d2;
}

/*Стилизация спика найденных отелей*/

.found-hotels .found-item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px;
  border-top: 1px solid #e5e5e5;
}

.found-item .hotels-rating {
  margin-left: auto;
}

.found-hotels .found-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.found-item img {
  width: 136px;
  height: 90px;
  margin-right: 29px;
  background-color: #d3e4ef;
}

.hotels-info .name-of-hotel {
  margin-top: -5px;
  margin-bottom: 7px;
}

.name-of-hotel a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  word-wrap: break-word;
}

.name-of-hotel a:hover, .name-of-hotel a:focus {
  color: #81b3d2;
}

.name-of-hotel a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-info .hotels-type-price {
  font-size: 0;
  margin: 0;
  margin-bottom: 14px;
}

.hotels-type-price .type-of-hotel, .hotels-type-price .price-for-hotel {
  display: inline-block;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  word-wrap: break-word;
  vertical-align: top;
  padding-right: 6px;
}

.hotels-info .hotel-buttons {
  display: flex;
  flex-wrap: wrap;
}

.hotel-buttons .button {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 3px 17px;
  min-width: 110px;
  text-align: center;
  box-sizing: border-box;
}

.hotel-buttons .button-info {
  background-color: #81b3d2;
}

.hotel-buttons .button-booking {
  background-color: #766357;
  margin-left: 6px;
}

.hotel-buttons .button-info:hover, .hotel-buttons .button-info:focus {
  background-color: #669ec0;
}

.hotel-buttons .button-booking:hover, .hotel-buttons .button-booking:focus {
  background-color: #604e43;
}

.hotel-buttons .button-info:active {
  background-color: #5496bd;
  color: #a7c9dd;
}

.hotel-buttons .button-booking:active {
  background-color: #503e33;
  color: #9e958f;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-rating .number-of-stars {
  font-size: 0;
  width: 110px;
  text-align: right;
}

.number-of-stars .star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("../img/star.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-right: 6px;
}

.number-of-stars .star:last-child {
  padding-right: 0;
}

.hotels-rating .raiting {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  text-align: center;
  padding: 3px;
  min-width: 110px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
